.card {
  width: 15rem;
  height: 20rem;
  border: 1px solid black;
  position: relative;
  padding: 0;
  justify-content: flex-start;
}
img {
  width: 12rem;
  height: auto;
  border: 1px solid transparent;
  border-radius: 8px;
  background-color: whitesmoke;
  position: relative;
  text-align: center;
}
.pokemon_id {
  color: rgb(112, 112, 112);
  position: relative;
  left: 1rem;
  text-align: left;
  margin: 0;
}
.pokemon_name {
  font-size: 2rem;
  font-weight: bold;
  margin: 0.5rem 1rem;
}
.pokemon_wrapper {
  text-align: left;
  padding-left: 1rem;
}
span.Grass,
span.Paison,
span.Fire,
span.Water,
span.Flying,
span.Bug {
  margin: 0.5rem 0.5rem;
  padding: 0.2rem 1rem;
  background-color: #00ac09;
  color: #000000;
  border-radius: 8px;
}
span.Paison {
  background-color: rgb(183, 0, 255);
  color: aliceblue;
}
span.Fire {
  background-color: #ff5a0e;
  color: aliceblue;
}
span.Water {
  background-color: #008cff;
  color: aliceblue;
}
span.Flying {
  background: linear-gradient(to bottom, #57b4ff 50%, #b9b9b9 50%);
  color: #000000;
}
span.Bug {
  background-color: #00ff0d;
  color: aliceblue;
}
